@model IEnumerable<ETNA.MVC.Models.DI.ListaEntregaViewModel>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaGeneracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZonaDespacho)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @if (Model.Count() > 0)
    {
          foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaGeneracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZonaDespacho)
            </td>
            <td>
                @Html.ActionLink("Ver", "VerEntrega", new { id = item.Codigo})
            </td>
            <td>
                @if (item.idEstadoEntrega != 4)
                { 
                     @Html.ActionLink("Modificar", "ModificarEntrega", new { id = item.Codigo })
                }
               
            </td>
            <td>
                @if (item.idEstadoEntrega != 4)
                {
                    @Html.ActionLink("Eliminar", "EliminarEntrega", new { id = item.Codigo })
                }
            </td>
        </tr>
        }
    }
    else
    {
         <tr>
             <td>
                 No se encontraron datos con los criterios seleccionados
             </td>
             </tr>
       

    }

  
</table>


