@{
    ViewBag.Title = "Distribución";
}
<h2>Logística</h2>
<ol class="round">
    <li class="one">
        <h4>@Html.ActionLink("Generación de Entregas", "Index", "Entrega")</h4>
    </li>
    <li class="two">
        <h4>@Html.ActionLink("Generación de Entregas", "Index", "Entrega")</h4>
    </li>
    <li class="one">
        <h4>@Html.ActionLink("Generación de Entregas", "Index", "Entrega")</h4>
    </li>
    <li class="two">
        <h4>@Html.ActionLink("Generación de Entregas", "Index", "Entrega")</h4>
    </li>
    <li class="one">
        <h4>@Html.ActionLink("Generación de Entregas", "Index", "Entrega")</h4>
    </li>
</ol>
