@model ETNA.MVC.Models.FB.LoteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LoteViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NroLote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NroLote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaCreacion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaCreacion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DescripcionTipoLote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DescripcionTipoLote)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
