@{
    ViewBag.Title = "Baterías ETNA";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Lorem fistrum ad sit amet no te digo trigo por no llamarte Rodrigor nisi diodeno se calle ustée commodo se calle ustée esse ese hombree. 
                Velit me cago en tus muelas hasta luego Lucas ad et no te digo trigo por no llamarte Rodrigor pupita aliquip ut exercitation reprehenderit.
                Dolor pecador ahorarr tiene musho peligro nostrud officia. Llevame al sircoo dolor duis laboris quietooor a peich hasta luego Lucas. 
                No puedor tempor ese hombree al ataquerl laboris. Quietooor officia caballo blanco caballo negroorl por la gloria de mi madre ese pedazo 
                de exercitation quietooor. Papaar papaar esse elit sed. Está la cosa muy malar te va a hasé pupitaa et ese que llega.
            </p>
        </div>
    </section>
}
<h3>Le sugerimos lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Fabricación", "Index", "Fabricacion")</h5>
        Lorem fistrum no puedor te voy a borrar el cerito apetecan ese hombree te voy a borrar el cerito va usté muy cargadoo 
        la caidita está la cosa muy malar. Está la cosa muy malar sexuarl mamaar no te digo trigo por no llamarte Rodrigor se calle ustée 
        a peich a peich papaar papaar qué dise usteer a wan se calle ustée. Llevame al sircoo a gramenawer llevame al sircoo está la cosa 
        muy malar no te digo trigo por no llamarte Rodrigor ese que llega al ataquerl ese que llega. Condemor ahorarr pecador diodeno ahorarr. 
        Quietooor se calle ustée torpedo te va a hasé pupitaa de la pradera por la gloria de mi madre.
        
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Logística", "Index", "Logistica")</h5>
        Lorem fistrum no puedor te voy a borrar el cerito apetecan ese hombree te voy a borrar el cerito va usté muy cargadoo 
        la caidita está la cosa muy malar. Está la cosa muy malar sexuarl mamaar no te digo trigo por no llamarte Rodrigor se calle ustée 
        a peich a peich papaar papaar qué dise usteer a wan se calle ustée. Llevame al sircoo a gramenawer llevame al sircoo está la cosa 
        muy malar no te digo trigo por no llamarte Rodrigor ese que llega al ataquerl ese que llega. Condemor ahorarr pecador diodeno ahorarr. 
        Quietooor se calle ustée torpedo te va a hasé pupitaa de la pradera por la gloria de mi madre.
    </li>

    <li class="three">
        <h5>@Html.ActionLink("Post venta", "Index", "Postventa")</h5>
        Lorem fistrum no puedor te voy a borrar el cerito apetecan ese hombree te voy a borrar el cerito va usté muy cargadoo 
        la caidita está la cosa muy malar. Está la cosa muy malar sexuarl mamaar no te digo trigo por no llamarte Rodrigor se calle ustée 
        a peich a peich papaar papaar qué dise usteer a wan se calle ustée. Llevame al sircoo a gramenawer llevame al sircoo está la cosa 
        muy malar no te digo trigo por no llamarte Rodrigor ese que llega al ataquerl ese que llega. Condemor ahorarr pecador diodeno ahorarr. 
        Quietooor se calle ustée torpedo te va a hasé pupitaa de la pradera por la gloria de mi madre.
    </li>
</ol>
