@{
    ViewBag.Title = "Baterías ETNA";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod suscipit erat. Phasellus semper, arcu nec fringilla auctor, libero sapien faucibus orci, egestas hendrerit libero ligula rhoncus felis. Sed id elit ipsum. Nam id purus nisi. Mauris a enim feugiat, ornare urna sed, finibus ipsum. Nullam interdum lectus vel velit lobortis malesuada. Proin convallis eu lectus vitae pellentesque. Proin pulvinar porta dui dapibus elementum. Nam faucibus pulvinar velit aliquam tincidunt. Ut laoreet odio non rutrum porttitor. Quisque ac leo ac arcu fringilla luctus. Donec hendrerit nisi sit amet ligula tempus, sed condimentum est blandit. Cras luctus mollis nibh eu sodales. Sed posuere, augue a venenatis consectetur, justo odio luctus tellus, non consectetur lorem mauris mollis neque. Donec vel gravida arcu. Vivamus non ornare ex, sit amet maximus augue.</p>
        </div>
    </section>
}
<h3>Le sugerimos lo siguiente:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Fabricación", "Index", "Fabricacion")</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod suscipit erat. Phasellus semper, arcu nec fringilla auctor, libero sapien faucibus orci, egestas hendrerit libero ligula rhoncus felis. Sed id elit ipsum. Nam id purus nisi. Mauris a enim feugiat, ornare urna sed, finibus ipsum. Nullam interdum lectus vel velit lobortis malesuada. Proin convallis eu lectus vitae pellentesque. Proin pulvinar porta dui dapibus elementum. Nam faucibus pulvinar velit aliquam tincidunt. Ut laoreet odio non rutrum porttitor. Quisque ac leo ac arcu fringilla luctus. Donec hendrerit nisi sit amet ligula tempus, sed condimentum est blandit. Cras luctus mollis nibh eu sodales. Sed posuere, augue a venenatis consectetur, justo odio luctus tellus, non consectetur lorem mauris mollis neque. Donec vel gravida arcu. Vivamus non ornare ex, sit amet maximus augue.
        
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Logística", "Index", "Logistica")</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod suscipit erat. Phasellus semper, arcu nec fringilla auctor, libero sapien faucibus orci, egestas hendrerit libero ligula rhoncus felis. Sed id elit ipsum. Nam id purus nisi. Mauris a enim feugiat, ornare urna sed, finibus ipsum. Nullam interdum lectus vel velit lobortis malesuada. Proin convallis eu lectus vitae pellentesque. Proin pulvinar porta dui dapibus elementum. Nam faucibus pulvinar velit aliquam tincidunt. Ut laoreet odio non rutrum porttitor. Quisque ac leo ac arcu fringilla luctus. Donec hendrerit nisi sit amet ligula tempus, sed condimentum est blandit. Cras luctus mollis nibh eu sodales. Sed posuere, augue a venenatis consectetur, justo odio luctus tellus, non consectetur lorem mauris mollis neque. Donec vel gravida arcu. Vivamus non ornare ex, sit amet maximus augue.
    </li>

    <li class="three">
        <h5>@Html.ActionLink("Distribución", "Index", "Distribucion")</h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod suscipit erat. Phasellus semper, arcu nec fringilla auctor, libero sapien faucibus orci, egestas hendrerit libero ligula rhoncus felis. Sed id elit ipsum. Nam id purus nisi. Mauris a enim feugiat, ornare urna sed, finibus ipsum. Nullam interdum lectus vel velit lobortis malesuada. Proin convallis eu lectus vitae pellentesque. Proin pulvinar porta dui dapibus elementum. Nam faucibus pulvinar velit aliquam tincidunt. Ut laoreet odio non rutrum porttitor. Quisque ac leo ac arcu fringilla luctus. Donec hendrerit nisi sit amet ligula tempus, sed condimentum est blandit. Cras luctus mollis nibh eu sodales. Sed posuere, augue a venenatis consectetur, justo odio luctus tellus, non consectetur lorem mauris mollis neque. Donec vel gravida arcu. Vivamus non ornare ex, sit amet maximus augue.
    </li>
</ol>
